LSF_DOCKER_VOLUMES='{{LSF_DOCKER_VOLUMES}}' LSF_DOCKER_PORTS='8000:8000' bsub -q {{LSF_QUEUE}} -g {{LSF_JOB_GROUP}} -G {{LSF_USER_GROUP}} -R 'span[hosts=1] select[port8000=1 && mem>4G] rusage[mem=4G]' -M 4G -a 'docker(ebelter/mgi:cromwell)' -oo {{CROMWELL_SERVER_DIR}}/log bash {{CROMWELL_SERVER_DIR}}/run
